:root {
  --main-light: #9ad0f5;
  --main-dark: #0091c6;
  --secondary-light: #57606a;
  --secondary-dark: #323232;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.analysis-view,
.graphic-detail-view {
  width: 100%;
  max-width: 1200px;
  min-height: 100%;
  padding: 12px;
  /* display: flex; */
  /* justify-content: center; */
}

.analysis-view__title {
  font-size: 4.2rem;
  text-align: center;
  margin-block-end: 32px;
}

.station-list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: 300px;
  gap: 8px;
}

.station-card {
  min-width: 280px;
  height: 300px;
  padding: 8px;
  display: grid;
  grid-template-rows: 2fr 5fr;
  place-items: center;
  gap: 8px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 4px;
  cursor: pointer;
}

.station-card:hover {
  border: 2px solid var(--secondary-dark);
}

.station-card__img {
  min-width: 96px;
  max-width: 108px;
  height: 100px;
  padding: 8px;
}

.station-card__info {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-rows: min-content;
  gap: 8px;
  color: var(--main-dark);
}

.station-card__info-title {
  font-size: 1.8rem;
  text-align: center;
}

.station-card__info-dates {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  column-gap: 2px;
  font-size: 1.4rem;
}

.station-card__info-description {
  display: grid;
  row-gap: 4px;
  font-size: 1.6rem;
}

.card-info-tag {
  color: var(--secondary-light);
  overflow: hidden;
}

.chart-container {
  width: 100%;
  display: grid;
  grid-auto-rows: min-content;
}

.chart-inputs {
  width: 100%;
  height: 52px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 460px));
  gap: 8px;
  place-content: center;
}

.chart__date-pickers {
  max-width: 900px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 160px));
  place-content: center;
  gap: 8px;
}

.chart__date-pickers > label {
  font-size: 1.4rem;
  color: var(--secondary-light);
}

.chart__date-pickers > label > input {
  width: 100%;
  height: 32px;
  border: 2px solid var(--main-light);
  border-radius: 4px;
}

.chart__date-buttons {
  max-width: 900px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(98px, 140px));
  place-content: center;
  gap: 8px;
}

.chart__date-buttons > .date__button {
  width: 100%;
  height: 32px;
  border: none;
  background-color: var(--main-light);
  border-radius: 4px;
}
