<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% comment %} chartjs {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.0/dist/chart.umd.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/chart.js@4.2.0/dist/Chart.min.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.0/chartjs-plugin-zoom.min.js"
      integrity="sha512-B6F98QATBNaDHSE7uANGo5h0mU6fhKCUD+SPAY7KZDxE8QgZw9rewDtNiu3mbbutYDWOKT3SPYD8qDBpG2QnEg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'analysis/style.css' %}" />
    <script src="{% static 'analysis/chartscript.js' %}" defer></script>
    <title>Graphic Detail</title>
  </head>
  <body>
    <main class="graphic-detail-view">
      {% if station_id %}
      <div id="chart-container" class="chart-container">
        <canvas
          id="chart"
          class="chart-contaier__canvas"
          name="{{station_id}}"
        ></canvas>
        <div class="chart-inputs">
          <form class="chart__date-pickers">
            <label for="from-date-picker"
              >From:
              <input type="date" id="from-date-picker" name="from-date-picker"
            /></label>
            <label for="to-date-picker"
              >To: <input type="date" id="to-date-picker" name="to-date-picker"
            /></label>
          </form>
          <div class="chart__date-buttons">
            <button id="month-button" class="date__button">Month</button
            ><button id="year-button" class="date__button">Year</button>
          </div>
        </div>
      </div>
      {% else %}
      <div id="no-chart">
        <p>Station id not provided</p>
      </div>
      {% endif %}
    </main>
  </body>
</html>
